.round {border-radius: 50%}
.h1 {text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9; font-weight: bold; font-size: 4.25em;font-family: 'SimHei';margin: 40px 0;}
.h2 {font-weight: bold; font-size: 3.25em; font-family: 'Microsoft YaHei';}
.h3 {font-weight: bold; font-family: 'Microsoft YaHei'; font-size: 2.55em;margin: 17px 0;}
.h4 {font-weight: bold; opacity: 0.7;font-family: 'Microsoft YaHei'; font-size: 1.5em;}
.color1 {color: #fff;}
.color2 {color: #008080;}
.color3 {color: #7DEC0F;margin-bottom: 21px;}
.bg1{background: #008080;}
.bg2{background: #ddd;}